**Import Libraries**

In [1]:
import pandas as pd

**Import Csv and check contents**

In [2]:
nbh = pd.read_csv('cleaned_data/neighbourhoods.csv') 
nbh.head(2)

  neighbourhood_group neighbourhood
0          Arganzuela       Acacias
1          Arganzuela        Atocha

In [3]:
#no duplicates
nbh.duplicated().sum()

0

In [4]:
nbh.shape

(128, 2)

In [5]:
nbh.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 2 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   neighbourhood_group  128 non-null    object
 1   neighbourhood        128 non-null    object
dtypes: object(2)
memory usage: 2.1+ KB

**Everything is ok with the original file, no need to export new one**